# Node.js
node_modules/
.env
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json

# os
.DS_Store
Thumbs.debug

# ide
.vscode
.idea
*.iml

# builds
dist/

# other
backups/
transcripts/
source/data/memory.json
NetherCore.zip
source/config/general.json5
source/config/staff.json5

# go
**/*.exe
**/*.dll
**/*.mod
**/*.sum
